<!doctype html>
<html lang="en">
<head>

    <title>Welcome to My Food Page</title>

    <include href="includes/header.htm"></include>

    <!--
        this is a fat-free thing that allows you to include all the bootstrap stuff and other things that you need
        to include in every header
    -->

</head>
<body>
<div class="container">
    <h1 class="text-center">Welcome to My Food Page!!!</h1>

    <!--
        NOTE: when you reference a file in a view, you reference it with path relative to the index page,
        b/c the index page is the controller
    -->

    <img src="images/applesInTree.jpg" alt="Red apples in tree">
    <div class="text-center pt-2">
        <a href="order">Place an Order</a>
    </div>
</div>

</body>
</html>