<!doctype html>
<html lang="en">
<head>

    <title>Thank You</title>

    <include href="includes/header.htm"></include>

</head>
<body>
<div class="container">
    <h1>Order Summary</h1>

    <!-- see below for use of token to insert data from session array (this is a fat-free thing - part of fat-free templating language) -->
    <p>Thank you for ordering {{ @SESSION.order->getFood() }} for {{ @SESSION.order->getMeal() }}.</p>

    <check if="{{ !empty(@SESSION.order->getCondiments()) }}">
        <p>Condiments: {{ implode(@SESSION.order->getCondiments(), ", ") }}</p>
    </check>

    <p><a href="order">Place another order</a></p>
    <p><a href="{{ @BASE }}">Return to the home page</a></p>

</div>

</body>
</html>